/* Background */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #8b5e3c, #d7b89c);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.auth-box {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

.auth-box h2 {
  margin-bottom: 20px;
  color: #333;
}

.auth-box form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-box label {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: #444;
}

.auth-box input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.auth-box button {
  background: #d7b89c;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.auth-box button:hover {
  background: #d7b89c;
}

.auth-box p {
  margin-top: 15px;
  font-size: 14px;
}

.auth-box a {
  color: #d7b89c;
  text-decoration: none;
}

.auth-box a:hover {
  text-decoration: underline;
}

/* Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}
